extends layouts/default

block content
    #home.row.row-4
        .bubbletext.bubbletext--introduce
            .arrow-left
            p we are from
                | #{' '}
                strong idmore
        .stars
        .wrapper
            .object-astronaut-rope-mask
            .object-ufo
            .object-astronaut-rope
            .object-astronaut

    .row.row-3-5
        .stars
        img(class="object--moon1" src="./images/img-5.png")
        img(class="object--saturn" src="./images/img-3.png")
        img(class="object--moon2" src="./images/img-6.png")
        .bubbletext.bubbletext--saturn
            .arrow-up
            p We focus on making #{' '}
                | something new and
                | present accurate data to
                | develop next technologies
                | for the life of creatures
                | on earth and
                | the universe.

    #products.row.row-3
        h2.m-t-7 What we do
        .stars
        .wrapper

            .box-50
                .product-list
                    img(src="./images/icon-1.png")
                    .arrow-left
                    .bubbletext.bubbletext--product
                        p
                            strong
                                a(href="http://kompetisiindonesia.com" target="_blank") Kompetisi Indonesia
                            | #{' '} Indonesian's competition platform

            .box-50
                .product-list
                    img(src="./images/icon-2.png")
                    .arrow-left
                    .bubbletext.bubbletext--product
                        p
                            strong Linuxourse
                            | #{' '} Learn linux without install it

            .box-50
                .product-list
                    img(src="./images/icon-3.png")
                    .arrow-left
                    .bubbletext.bubbletext--product
                        p
                            strong
                                a(href="http://oopsreview.com" target="_blank") Oopsreview
                            | #{' '} Let's review software

            .box-50
                .product-list
                    img(src="./images/icon-4.png")
                    .arrow-left
                    .bubbletext.bubbletext--product
                        p
                            strong Id More Academy
                            | #{' '} Learn up to date Dev Tech

            .box-100
                .align-center
                    a(href="/products" class="btn btn-white-outline m-t-2") and many more
                    .m-t-2

    .row.row-2-5

    #projects.row.row-2
        .wrapper.align-right
            .bubbletext.bubbletext--project
                .arrow-right
                p join our
                    strong
                        | &nbsp; 
                        a(href="https://gitlab.com/idmore")
                            | projects
            img(src="./images/img-7.png")

    .row.row-1-5

    #contact.row.row-1
        .wrapper
            .cloud.cloud-1
            .cloud.cloud-5
            .cloud.cloud-2
            .cloud.cloud-3
            .cloud.cloud-4
    .row.row-1
        .wrapper
            h3.title Let's Make A Deal
            .half-circle.align-center
                .border
                .text Would like to cooperate with us and keep updated with our work, please check our social media
                    br
                    small designed by
                        | #{' '}
                        a(href="https://freepik.com" target="_blank") freepik
                        | #{' '}
                        | and developed by
                        | #{' '}
                        a(href="https://facebook.com/byidmore" target="_blank") Id More Team
                a(href="https://facebook.com/byidmore" target="_blank")
                    img(src="./images/img-9.png")

